params {
    skip_clade_assignment = true
    json_tree = "$PWD/data/auspice_tree.json"
    fasta = "$PWD/sequences.fasta"
    metadata = "$PWD/metadata.tsv"
    tree = "$PWD/tree.nwk"
    strain_column = "name"
    date_column = "num_date"
    lineage_column = "Lineage"
    ref_seq = "$PWD/data/reference.fasta"
    iqtree_nucleotide_model = "MFP"
    clock_filter = 3.0
    barcode_prefix = 'DENV3-'
}

